{% extends 'authuser/authuser-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
<!-- <style>
</style> -->
{% endblock %}

{% block content %}
<main class="mt-5 pt-5">
    <div class="container-fluid">
        <h2>User Profile</h3>
        <div class="row">
            <div class="col-4">
                <section class="card wow fadeIn m-3">
                    <div class="card-body p-1 m-1">
                        <div class="view overlay">
                            <img class="container"
                              src="{% if post_form.image %}{{post_form.user.imageURL}} {% else %} {% static 'images/article_dummy.png' %} {% endif %}"
                              alt="">
                            <a href="#">
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>
                    </div>
                </section>
            </div>
            <div class="col-8">
                <section class="card wow fadeIn">
                    <div class="card-body py-2 px-2 m-2">
                        <h1 class="my-4">
                            <strong>SignUp</strong>
                        </h1>
                        <form class="form" action="{% url 'user-profile' %}" method="POST">
                            {% csrf_token %}
                            {{ form_data.non_field_errors }}

                            {% for field in form_data %}
                            <div class="form-group form-row">
                                <div class="form-group col-md-8 mb-0">
                                    <div class="form-outline mb-4 p-2">
                                        {{field}}
                                        <label class="form-label"
                                            for="{{field.id_for_label}}">{{field.label}}</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 mb-0 text-primary">
                                    {{field.help_text}}
                                </div>
                                <div class="form-group col-md-4 mb-0 red-text">
                                    {{field.errors}}
                                </div>
                            </div>

                            {% endfor %}

                            <div class="pt-4">
                                <button type="submit" class="btn btn-primary active">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
{% endblock %}