{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<main class="mt-5 pt-5">
    <div class="container">
        <section class="card wow fadeIn"
            style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
            <div class="card-body text-white py-5 px-5 my-5">
                <h1 class="my-4">
                    <strong>SignUp</strong>
                </h1>
                <form class="form"  role="form" action="{% url 'user-signup' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group form-row">
                        <div class="form-group col-md-8 mb-0">
                            {{ form.username|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class=" col-md-8">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class=" col-md-8">
                            {{ form.last_name|as_crispy_field}}
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="form-group col-md-8 mb-0">
                            {{ form.email|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="form-group col-md-8 mb-0">
                            {{ form.password1|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="form-group col-md-8 mb-0">
                            {{ form.password2|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="form-group col-md-8 mb-0">
                            {{ form.image|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="form-group col-md-8 mb-0">
                            {{ form.bio|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        
                    </div>
                    
                    <div class="pt-4">
                        <button type="submit" class="btn btn-primary active">Sign Up</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</main>

{% endblock %}