{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    div.django-ckeditor-widget {
        /* margin: 2px !important;
    background-color: black !important; */
    }
</style>
<main class="mt-5 pt-5">
    <div class="container">
        <section class="card wow fadeIn"
            style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
            <div class="card-body text-white py-5 px-5 my-5">
                <h1 class="my-4">
                    <strong>Post Article</strong>
                </h1>
                <form method="POST" class="">
                    {% csrf_token %}
                    <!-- <div class="form-outline mb-4">
                    <input type="text"
                        name="{{ form.title.name }}"
                        id="{{ form.title.id_for_label }}"
                        {% if form.name.field.required %}required{% endif %}
                        class="form-control" 
                        >
                        <label class="form-label" for="{{ form.title.id_for_label }}">Post Title</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input 
                            class="form-control" 
                            id="{{ form.content.id_for_label }}" 
                            />
                        <label class="form-label" for="content">Post Content</label>
                    </div>
                
                    <div class="form-outline mb-4">
                        <input type="text" id="topic_related_to" class="form-control" />
                        <label class="form-label" for="topic_related_to">Post Topic related to</label>
                    </div>  
                
                    <div class="form-outline mb-4">
                        <input type="text" id="topic_related_to" class="form-control" />
                        <label class="form-label" for="topic_related_to">Enter Tags related to your Post</label>
                    </div> -->

                    <div class="form-group form-row">
                        <div class=" col-md-6">
                            {{ form.title|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class=" col-md-14">
                            {{ form.content}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.topic_related_to|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.tags|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.thumbnail|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        
                    </div>
                    {{form.media}}

                    <button type="submit" class="btn btn-primary btn-block mb-4">Post Article</button>
                </form>
            </div>
        </section>
    </div>
</main>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.15.0/ckeditor.js" integrity="sha512-bNMnTgKRxN1n+5rgfcf160HT2koHRcwLcSq/3JDOY9R65mja48E4Hh+a+IQXVaY2NoJCVC+pr0qE3Vz194QwnA==" crossorigin="anonymous"></script> -->
<script>
    CKEDITOR.replace('{{ form.content.id_for_label }}', {
        // plugins: 'wysiwygarea, toolbar, basicstyles, link, paste tools'
    })
</script>
{% endblock %}