{% extends 'base.html' %}
{% block content %}
<!--Main layout-->
<main class="mt-5 pt-5">
  <div class="container">

    <!--Section: Post-->
    <section class="mt-4">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="card mb-4 wow fadeIn col-md-12 mb-4">
          <h1 class="my-4">
            <strong>{{article.title}}</strong>
          </h1>
        </div>


        <!--Featured Image-->
        <div class="card mb-4 p-2 wow fadeIn">

          <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(144).jpg" class="img-fluid" alt="">

        </div>
        <!--/.Featured Image-->

        <!--Card-->
        <div class="card mb-4 wow fadeIn">

          <!--Card content-->
          <div class="card-body text-center">
            <h5><strong>{{article.title}}</strong></h5>
            <p>Posted by: {{article.author}}</p>
            <p>Article Topic: {{article.topic_related_to}}</p>

            <hr>

            <a class="btn btn-outline-primary" href="#article-content">
              Read the Article<i class="fas fa-download ml-2"></i>
            </a>

          </div>

        </div>
        <!--/.Card-->

        <!--Card-->
        <div class="card mb-4 wow fadeIn">

          <!--Card content-->
          <div id="article-content" class="card-body">

            <p class="h5 my-4">Post Content</p>
            <p class="my-4">{{article.content}}</p>
          </div>

        </div>
        <!--/.Card-->

        <!--Card-->
        <div class="card mb-4 wow fadeIn">

          <div class="card-header font-weight-bold">
            <span>About author</span>
            <span class="pull-right">
              <a href="">
                <i class="fab fa-facebook-f mr-2"></i>
              </a>
              <a href="">
                <i class="fab fa-twitter mr-2"></i>
              </a>
              <a href="">
                <i class="fab fa-instagram mr-2"></i>
              </a>
              <a href="">
                <i class="fab fa-linkedin-in mr-2"></i>
              </a>
            </span>
          </div>

          <!--Card content-->
          <div class="card-body">

            <div class="media d-block d-md-flex mt-3">
              <img class="d-flex mb-3 mx-auto z-depth-1" src="https://mdbootstrap.com/img/Photos/Avatars/img (30).jpg"
                alt="Generic placeholder image" style="width: 100px;">
              <div class="media-body text-center text-md-left ml-md-3 ml-0">
                <h5 class="mt-0 font-weight-bold">Caroline Horwitz
                </h5>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupti
                quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                fuga.
              </div>
            </div>

          </div>

        </div>
        <!--/.Card-->

        <!--Comments-->
        <div class="card card-comments mb-3 wow fadeIn">
          <div class="card-header font-weight-bold">3 comments</div>
          <div class="card-body">

            <div class="media d-block d-md-flex mt-4">
              <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (20).jpg"
                alt="Generic placeholder image">
              <div class="media-body text-center text-md-left ml-md-3 ml-0">
                <h5 class="mt-0 font-weight-bold">Miley Steward
                  <a href="" class="pull-right">
                    <i class="fas fa-reply"></i>
                  </a>
                </h5>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                <div class="media d-block d-md-flex mt-3">
                  <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (27).jpg"
                    alt="Generic placeholder image">
                  <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <h5 class="mt-0 font-weight-bold">Tommy Smith
                      <a href="" class="pull-right">
                        <i class="fas fa-reply"></i>
                      </a>
                    </h5>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque
                    ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                    sunt explicabo.
                  </div>
                </div>

                <!-- Quick Reply -->
                <div class="form-group mt-4">
                  <label for="quickReplyFormComment">Your comment</label>
                  <textarea class="form-control" id="quickReplyFormComment" rows="5"></textarea>

                  <div class="text-center">
                    <button class="btn btn-info btn-sm" type="submit">Post</button>
                  </div>
                </div>


                <div class="media d-block d-md-flex mt-3">
                  <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (21).jpg"
                    alt="Generic placeholder image">
                  <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <h5 class="mt-0 font-weight-bold">Sylvester the Cat
                      <a href="" class="pull-right">
                        <i class="fas fa-reply"></i>
                      </a>
                    </h5>
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                    sed quia non numquam eius modi
                    tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                  </div>
                </div>
              </div>
            </div>
            <div class="media d-block d-md-flex mt-3">
              <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (30).jpg"
                alt="Generic placeholder image">
              <div class="media-body text-center text-md-left ml-md-3 ml-0">
                <h5 class="mt-0 font-weight-bold">Caroline Horwitz
                  <a href="" class="pull-right">
                    <i class="fas fa-reply"></i>
                  </a>
                </h5>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupti
                quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                fuga.
              </div>
            </div>

          </div>
        </div>
        <!--/.Comments-->

        <!--Reply-->
        <div class="card mb-3 wow fadeIn">
          <div class="card-header font-weight-bold">Leave a reply</div>
          <div class="card-body">

            <!-- Default form reply -->
            <form>

              <!-- Comment -->
              <div class="form-group">
                <label for="replyFormComment">Your comment</label>
                <textarea class="form-control" id="replyFormComment" rows="5"></textarea>
              </div>

              <!-- Name -->
              <label for="replyFormName">Your name</label>
              <input type="email" id="replyFormName" class="form-control">

              <br>

              <!-- Email -->
              <label for="replyFormEmail">Your e-mail</label>
              <input type="email" id="replyFormEmail" class="form-control">


              <div class="text-center mt-4">
                <button class="btn btn-info btn-md" type="submit">Post</button>
              </div>
            </form>
            <!-- Default form reply -->



          </div>
        </div>
        <!--/.Reply-->

      </div>
      <!--Grid column-->

  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="row">

    {% for article in related_articles %}
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img src="{{article.thumbnail}}" alt="">
          <a href="/article/{{article.id}}/detail/">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">{{article.title}}</h4>
          <!--Text-->
          <p class="card-text">Written by <strong>{{article.author}}</strong></p>
          <p class="card-text">Topic related to: <strong>{{article.topic_related_to}}</strong></p>
          <p class="card-text">Tags: {{article.topic_related_to}}</p>
          <a href="{{article.get_absolute_url}}" class="btn btn-primary btn-md">Read Article
            <i class="fas fa-book ml-2"></i>
          </a>
        </div>
      </div>
      <!--/.Card-->

    </div>
    <!--Grid column-->
    {% endfor %}

  </div>
  <!--Grid row-->

  </section>
  <!--Section: Post-->

  </div>
</main>
<!--Main layout-->
{% endblock %}