{% extends 'blog/base-blog.html' %}

{% load static %}
{% block content %}
<!--Main layout-->
<main class="mt-5 pt-5">
  <div class="container">

    <!--Section: Post-->
    <section class="mt-4">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="card mb-4 wow fadeIn col-md-12 mb-4">
          <h1 class="my-4">
            <strong>{{article.title}}</strong>
          </h1>

          <img src="{{ article.imageURL }}" class="img-fluid m-4" alt="">
        </div>

        <!--Card-->
        <div class="card mb-4 wow fadeIn">

          <!--Card content-->
          <div class="card-body text-center">
            <h5><strong>{{article.title}}</strong></h5>
            <p>Posted by: {{article.author}}</p>
            <p>Article Topic: {{article.topic_related_to}}</p>

            <hr>

            <a class="btn btn-outline-primary" href="#article-content">
              Read the Article<i class="fas fa-book ml-2"></i>
            </a>

          </div>

        </div>
        <!--/.Card-->

        <!--Card-->
        <div class="card mb-4 wow fadeIn">

          <!--Card content-->
          <div id="article-content" class="card-body">

            <p class="h5 my-4">Post Content</p>
            <p class="my-4">{{article.content | safe}}</p>
          </div>

        </div>
        <!--/.Card-->

        <!--Card-->
        <div class="card mb-4 wow fadeIn">

          <div class="card-header font-weight-bold">
            <span>About author</span>
            <span class="pull-right">
              <a href="">
                <i class="fab fa-facebook-f mr-2"></i>
              </a>
              <a href="">
                <i class="fab fa-twitter mr-2"></i>
              </a>
              <a href="">
                <i class="fab fa-instagram mr-2"></i>
              </a>
              <a href="">
                <i class="fab fa-linkedin-in mr-2"></i>
              </a>
            </span>
          </div>

          <!--Card content-->
          <div class="card-body">

            <div class="media d-block d-md-flex mt-3">
              <img class="d-flex mb-3 mx-auto z-depth-1" src="{{ user.imageURL }}" alt="Generic placeholder image"
                style="width: 100px;">
              <div class="media-body text-center text-md-left ml-md-3 ml-0">
                <h5 class="mt-0 font-weight-bold">{{user.get_full_name}}
                </h5>
                {{user.userprofile.bio}}
              </div>
            </div>

          </div>

        </div>
        <!--/.Card-->

        <!--Comments-->
        <div class="card card-comments mb-3 wow fadeIn">
          <div class="card-header font-weight-bold">{{comment_count}} comments</div>
          <div class="card-body">

            {% for comment in comments %}
            <div class="media d-block d-md-flex mt-4">
              <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (20).jpg"
                alt="Generic placeholder image">
              <div class="media-body text-center text-md-left ml-md-3 ml-0">
                <h5 class="mt-0 font-weight-bold">{{comment.comment_author}}
                  <a href="" class="pull-right">
                    <i class="fas fa-reply"></i>
                  </a>
                </h5>
                {{comment.comment_body}}

                {% if reply %}
                <div class="media d-block d-md-flex mt-3">
                  <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (27).jpg"
                    alt="Generic placeholder image">
                  <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <h5 class="mt-0 font-weight-bold">Tommy Smith
                      <a href="" class="pull-right">
                        <i class="fas fa-reply"></i>
                      </a>
                    </h5>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque
                    ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                    sunt explicabo.
                  </div>
                </div>
                {% endif %}

                <!-- Quick Reply -->
                <div class="form-group mt-4">
                  <label for="quickReplyFormComment">Reply</label>
                  <textarea class="form-control" id="quickReplyFormComment" rows="3"></textarea>

                  <div class="text-center">
                    <button class="btn btn-info btn-sm" type="submit">Post</button>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
        <!--/.Comments-->

        <!--Reply-->
        <div class="card mb-3 wow fadeIn">
          <div class="card-header font-weight-bold">Leave a comment</div>
          <div class="card-body">

            <!-- Default form reply -->
            <form class="form" action="{{article.get_absolute_url}}" method="POST">

              {% csrf_token %}
              {{ form.non_field_errors }}

              {% for field in form %}
              <div class="form-group form-row">
                <div class="form-group col-md-8 mb-0">
                  <div class="form-outline mb-4 p-2">
                    {{field}}
                    <label class="form-label" for="{{field.id_for_label}}">{{field.label}}</label>
                  </div>
                </div>
                <div class="form-group col-md-4 mb-0 text-primary">
                  {{field.help_text}}
                </div>
                <div class="form-group col-md-4 mb-0 red-text">
                  {{field.errors}}
                </div>
              </div>

              {% endfor %}

              <div class="text-center mt-4">
                <button class="btn btn-info btn-md" type="submit">Post</button>
              </div>
            </form>
            <!-- Default form reply -->

          </div>
        </div>
        <!--/.Reply-->

      </div>
      <!--Grid column-->

  </div>

  <!--Grid row-->
  <hr class="my-5">

  <!--Section: Cards-->
  <section class="text-center" id="related_post">

    <!--Grid row-->
    <div class="row m-4 wow fadeIn">
      {% for article in related_articles %}
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="container mt-4"
              src="{% if article.imageURL %}{{article.imageURL}} {% else %} {% static 'images/article_dummy.png' %} {% endif %}"
              alt="">
            <a href="{{article.get_absolute_url}}">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">{{article.title}}</h4>
            <!--Text-->
            <p class="card-text">Written by <strong>{{article.author}}</strong></p>
            <p class="card-text">Topic related to: <strong>{{article.topic_related_to}}</strong></p>
            <p class="card-text">Tags: {{article.topic_related_to}}</p>
            <a href="{{article.get_absolute_url}}" class="btn btn-primary btn-md">Read Article
              <i class="fas fa-book ml-2"></i>
            </a>
          </div>
        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->
      {% endfor %}
      <!--Grid row-->
    </div>
  </section>

  <!--Section: Post-->

  </div>
</main>
<!--Main layout-->
{% endblock %}