{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% include "blog/styles.html" %}

    {% block extra_head %} {% endblock %}
</head>
<body class="heavy-rain-gradient">
    <header>
        {% include 'blog/navbar.html' %}
    </header>
    <div class="">
        {% block content %}
        {% endblock %}
    </div>
    {% include "blog/footer.html" %}

    {% include "blog/scripts.html" %}
</body>
</html>