<!-- section: contact -->
{% load crispy_forms_tags %}

<!--Section: Contact v.2-->
<section class="mb-4 container">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Get in Touch</h2>
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions suggestion or quaries? Let me know your experience visiting this site.</p>

    <div class="card mx-xl-5 cloudy-knoxville-gradient">

        <!-- Card body -->
        <div class="card-body">
            <div class="row">
                <!--Grid column-->
                <div class="col-md-8 mb-md-0 mb-5 pt-4">
                    <form role="form" class="form-group" action="{% url 'portfolio-home' %}" method="POST">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <!--Grid row-->
                        <div class="row">

                            {% for field in form %}
                            <div class="row-lg-12">
                                <div class="col-md-10 mb-0">
                                    <div class="form-outline mb-4 p-2">
                                        {{field}}
                                        <label class="form-label" for="{{field.id_for_label}}">{{field.label}}</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 mb-0 text-primary">
                                    {{field.help_text}}
                                </div>
                                <div class="form-group col-md-4 mb-0 red-text">
                                    {{field.errors}}
                                </div>
                            </div>

                            {% endfor %}

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="text-center text-md-left">
                            <input type="submit" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 p-4 text-center card container morpheus-den-gradient">
                    <ul class="list-unstyled mb-0">
                        <li><i class="fas fa-map-marker-alt fa-2x"></i>
                            <p>San Francisco, CA 94126, USA</p>
                        </li>
                        <hr>
                        <li><i class="fas fa-phone mt-4 fa-2x"></i>
                            <p>+ 01 234 567 89</p>
                        </li>
                        <hr>
                        <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                            <p>contact@mdbootstrap.com</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

            </div>
        </div>
    </div>

</section>
<!--Section: Contact v.2-->