<!-- section: contact -->
{% load crispy_forms_tags %}

<main class="mt-5 pt-5">
    <div class="container justify-content-center">
        <section class="card wow fadeIn">
            <div class="card-body py-5 px-5 my-5">
                <h1 class="my-4">
                    <strong>Get in Touch</strong>
				</h1>
				<p>Let me know your feedback</p>
     
                <form role="form" action="{% url 'user-login' %}" method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    {% for field in form %}
                    <div class="form-group form-row">
                        <div class="form-group col-md-8 mb-0">
                            <div class="form-outline mb-4 p-2">
                                {{field}}
                                <label class="form-label" for="{{field.id_for_label}}">{{field.label}}</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4 mb-0 text-primary">
                            {{field.help_text}}
                        </div>
                        <div class="form-group col-md-4 mb-0 red-text">
                            {{field.errors}}
                        </div>
                    </div>
                    
                    {% endfor %}
                    </div>
                    
                    <button type="submit" class="btn btn-lg btn-primary active">Sign in</button>
                </form> 
            </div>
        </section>
    </div>
</main>
