    <!--Footer-->
    <footer class="card page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

        <hr class="my-4">
            <section class="mb-4" id="contact">
                {% include 'portfolio/contact.html' %}
            </section>
        <hr class="my-4">
        
        <!-- Social icons -->
        <div class="pb-4 pl-3">
            <a href="https://www.facebook.com/sandipan.das.56863221" target="_blank">
                <i class="fab fa-facebook-f mr-3"></i>
            </a>

            <a href="https://twitter.com/Sandipa63062640" target="_blank">
                <i class="fab fa-twitter mr-3"></i>
            </a>

            <a href="https://www.youtube.com/channel/UCVqV59BoYbuqYCJio13aygQ" target="_blank">
                <i class="fab fa-youtube mr-3"></i>
            </a>
            {% comment %}
            <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
                <i class="fab fa-google-plus-g mr-3"></i>
            </a>

            <a href="https://dribbble.com/mdbootstrap" target="_blank">
                <i class="fab fa-dribbble mr-3"></i>
            </a>
            {% endcomment %}

            <a href="https://sandipandas898.wixsite.com/sandipandas" target="_blank">
                <i class="fab fa-wix mr-3"></i>
            </a>
            
            <a href="https://www.linkedin.com/in/sandipan-das-528166175" target="_blank">
                <i class="fab fa-linkedin mr-3"></i>
            </a>
            <a href="https://stackoverflow.com/users/12395775/sandipan-das" target="_blank">
                <i class="fab fa-stack-overflow mr-3"></i>
            </a>

            <a href="https://github.com/sandipan898" target="_blank">
                <i class="fab fa-github mr-3"></i>
            </a>

            <a href="http://codepen.io/sandipan898" target="_blank">
                <i class="fab fa-codepen mr-3"></i>
            </a>
        </div>
        <!-- Social icons -->
        
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
              <a
                class="btn btn-outline-light btn-md m-2"
                href="{% url 'home' %}"
                role="button"
                rel="nofollow"
                >Read & Post Tech Article</a>
              <a
                class="btn btn-outline-light btn-md m-2"
                href="{% url 'home' %}"
                role="button"
                rel="nofollow"
                >Visit our QnA Section</a>
            </div>
          </div>
        </div>
        <!--Copyright-->
        <div class="footer-copyright py-3">
            Thank you for visiting here
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
